POSTGRES_USER=todo
POSTGRES_PASSWORD=todo
POSTGRES_DB=todo
DATABASE_URL=postgresql+psycopg://todo:todo@db:5432/todo
JWT_SECRET_KEY=change-me-in-production-with-at-least-32-bytes
VITE_API_URL=http://localhost:8000
